.reg__form {
  width: 600px;
  margin: 0 auto;
  border: 3px solid rgb(221, 140, 143);
  border-radius: 15px;
  height: 500px;
  padding: 30px;
  margin-top: 120px;

  &__nendoveb-kubscupon {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 100px;
    & h5 {
      color: rgba(100, 100, 100, 0.9);
    }
  }
  &__nendoveb-kubscupon__kacekagen-protsem {
    width: 0%;
    height: 5px;
    background: linear-gradient(
      to right,
      rgb(51, 253, 93),
      rgb(71, 185, 236),
      rgb(42, 147, 245),
      rgb(41, 168, 222),
      rgb(120, 56, 179),
      rgb(234, 34, 70)
    );
    margin-top: 10px;
    background-size: 353px 5px;
    border-radius: 12px;
    animation: loading 0.8s ease-in-out forwards;
  }

  &__nendoveb-kubscupon__kacekagen-protsem__akemobvous {
    .nendoveb-kubscupon .akemobvous {
      width: 100%;
      height: 35px;
      background: linear-gradient(
        to bottom,
        rgba(185, 173, 173, 0.17),
        rgba(97, 91, 91, 0.1),
        rgba(53, 51, 51, 0)
      );
      transform: skew(45deg) translate(15px, 5px);
    }

    @keyframes loading {
      to {
        width: 100%;
      }
    }
  }

  &__inputgroup__error {
    color: red;
  }

  &__inputgroup__btn {
    width: 200px;
  }

  &__inputgroup__pass {
    max-height: 15px;
  }

  &__inputgroup__pass__eyes {
    position: relative;
    top: -35px;
    left: 230px;
  }

  &__inputgroup__pass-strength {
    display: flex;
    align-items: center;
    margin-top: 3px;
  }
  &__inputgroup__strength-label {
    font-size: 12px;
    margin-left: 10px;
  }
  &__inputgroup__strength-percent {
    flex: 1;
    height: 5px;
    border-radius: 10px;
    display: block;
    background: #eee;

    & span {
      display: block;
      height: 100%;
      transition: all 0.4s;
      border-radius: 10px;
    }
    .weak {
      background: red;
      width: 33%;
    }

    .average {
      background: #ffd000;
      width: 66%;
    }

    .strong {
      background: green;
      width: 100%;
    }
  }
}
